body{
    background-image: url(https://media.istockphoto.com/id/1411436117/photo/the-dark-stage-shows-dark-blue-background-an-empty-dark-scene-neon-light-and-spotlights-the.jpg?s=612x612&w=0&k=20&c=76rUnkn7FUSn3AgMF6PPedMyt-Cmedlin1kdgwMdkac=);
    background-repeat: no-repeat;
    background-size: 100%;
}
h1{
    color: white;
}