body
{
    text-align: center;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ0FpPdyNCW-c7qKL8Z6Kot5jrOOpaCOpfcuw&usqp=CAU);
    background-repeat: no-repeat;
    background-size: 100% ;
}
h2{
    color: white;
}