body{
    background-image: url(https://media.istockphoto.com/id/1017212854/photo/bizarre-forms-of-white-powder-explosion-cloud-against-black-background.jpg?s=612x612&w=0&k=20&c=79x_gd4FAXhKlqGJWsVZpqtS_iZRANdQaUg_c8XyUWE=);
    background-repeat: no-repeat;
    background-size: 100%;
    color: rgb(242, 248, 248);
}
h4{
    color: rgb(246, 240, 240);
}
button{
    background-color: burlywood;
}
h1{
    color: rgb(249, 246, 246);
}